<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <title>Phoenix Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link "Phoenix Blog", to: root_path(@conn, :index), class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav navbar-left">
          <%= if authenticated?(@conn) do %>
            <li><%= link "Users", to: user_path(@conn, :index) %></li>
            <li><%= link "Posts", to: post_path(@conn, :index) %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= if authenticated?(@conn) do %>
            <li><%= PhoenixBlog.User.full_name(@conn.assigns.current_user) %></li>
            <li><%= link "Sign Out", to: session_path(@conn, :delete), method: :delete %></li>
          <% else %>
            <li><%= link "Sign In", to: session_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
